<xf:css src="at_maaq_buttons.less"  />

<xf:js>
	function massSelect(option)
	{
		var inputs = document.getElementsByTagName("input");
		  for (x = 0 ; x < inputs.length ; x++){
			myname = inputs[x].getAttribute("name");
			if(myname.indexOf("queue")==0){
				if(inputs[x].getAttribute("value") == option)
				{
					inputs[x].checked = true;
				}
			   }
			}

	}
</xf:js>

<div class="at_maaq_buttons">
	<xf:button icon="cancel" onclick="massSelect(\'\')">{{ phrase('do_nothing') }}</xf:button>
	<xf:button icon="confirm" onclick="massSelect(\'approve\')">{{ phrase('approve') }}</xf:button>
	<xf:button icon="delete" onclick="massSelect(\'delete\')">{{ phrase('delete') }}</xf:button>
</div>
<div style="clear: right;"></div>